<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weini.mapper.ShoppingCartMapper">

    <resultMap id="ShoppingCart" type="com.weini.POJO.Do.ShoppingCart">
        <id column="id" property="id"/>
        <result column="user_id" property="user_id"/>
        <result column="count" property="count"/>
        <result column="create_time" property="create_time"/>
        <result column="update_time" property="update_time"/>
        <collection columnPrefix="scc_" property="commodities" ofType="com.weini.POJO.Do.ShoppingCartCommodity">
            <id column="id" property="id"/>
            <result column="commodity_id" property="commodity_id"/>
            <result column="count" property="count"/>
            <result column="create_time" property="create_time"/>
            <result column="update_time" property="update_time"/>
        </collection>
    </resultMap>

    <select id="getShoppingCartList" resultMap="ShoppingCart">
        select
               scc.id as scc_id,scc.count as scc_count,scc.create_time as ssc_create_time,scc.update_time as scc_update_time,scc.commodity_id as scc_commodity_id,
               shopping_cart.* from shopping_cart left join shopping_cart_commodity scc on shopping_cart.id = scc.shopping_cart_id
        where shopping_cart.id=#{id} limit #{current},#{size}
    </select>

    <insert id="addCommodities">
        insert into shopping_cart_commodity(`id`,`shopping_cart_id`,`commodity_id`,`count`,`create_time`,`update_time`) values(#{id},#{shopping_cart_id},#{commodity_id},#{count},#{create_time},#{update_time})
    </insert>

    <update id="removeCommoditiesFromShoppingCart">
        update shopping_cart_commodity set del_flag='1',update_time=now() where shopping_cart_id=#{shopping_cart_id} and commodity_id=#{commodity_id} and del_flag='0'
    </update>

    <update id="updateShoppingCart">
        update shopping_cart_commodity set update_time=now()
            <if test="count!=null">
                set count=#{count}
            </if>
            where shopping_cart_id=#{shopping_cart_id} and commodity_id=#{commodity_id} and del_flag='0'
    </update>

    <select id="getShoppingCartTypeChoice" resultType="com.weini.POJO.Do.SccChoice">
        select * from scc_choice where del_flag='0' and sc_commodity_id=#{id}
    </select>
</mapper>
